* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}

#cursor {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    
}

h1 {
    color: white;
    font-size: 100px;
    position: absolute;
    mix-blend-mode: difference;
}